img{
  max-width: 400px;
  max-height: 500px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.images > div {
  flex: 0 0 auto;
  padding: 50px;
}