body{
  background-color: antiquewhite;
}

.imageContainer{
  width: 220px;
  height: 220px;
  background-color: gray;
  padding: 20px;
  margin: 10px;
}

.imageContainer > img{
  max-width: 200px;
  max-height: 200px;
}

button{
  margin: 10px;
}